@model List<UserRepostory>

<h3>Katılımıcı Listesi</h3>
<table class="table">
    <thead>
        <tr>
            <td>Adı</td>
            <td>Email</td>
            <td>Durum</td>
            <td>Detay</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            var statusControl = item.Status == true ? "Evet Geliyor" : "Hayır Gelmiyor";
            var statusClass = item.Status == true ? "table-success" : "table-danger";

        <tr class="@statusClass">
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@statusControl</td>
            <td><a href="/meeting/Detail/@item.Id">Detay Gör</a></td>
        </tr>
        }

    </tbody>
</table>